:root {
  --bg-color: #0F0D0D;
  --bg-color-2:  #3B3A36;
  --text-color: #F5F5F5;
   --main-font: "Segoe UI", Tahoma, Geneva, sans-serif;
}


.projects-page{
       
    position: fixed;   /* fica preso na tela */
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                background: var(--bg-color-2);
                z-index: -2;
}

.bg img{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    opacity: 0.2;
      pointer-events: none;

}

.youtube-links{
    position: relative;
      width: 40%;      /* tamanho total */
    display: grid;

    /*  outline: 3px solid red;*/
     /* background-color: #000000;*/
    justify-content: center;
   
} 


.youtube-links iframe{ 
    position: relative;
    width:70%;
    height: 200px;
    filter: blur(px);
    opacity: 0.3;
    margin: 10px 0;
 transition: 0.5s; 
}


/* .blocks{
    position: absolute;
    object-fit: cover;
     width:100%;
    height: 100vh;
    background-color: #0F0D0D;
} */

.youtube-links iframe:hover{  
    filter: blur(0px);
    transform: scale(1.1);
    padding-left: 50px;
    opacity: 1;
  
}


